<p style="color: green"><%= notice %></p>

<h1>Slots</h1>

<%= month_calendar(events: @slots) do |date, slots| %>
  <%= date %>

  <% slots.each do |slot| %>
    <div>
      <%= link_to slot.name, slot_path(slot) %>
    </div>
  <% end %>
<% end %>

<%= link_to "New slot", new_slot_path %>
