<%= form_with(model: calendar_assignation) do |form| %>
  <% if calendar_assignation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(calendar_assignation.errors.count, "error") %> prohibited this calendar_assignation from being saved:</h2>

      <ul>
        <% calendar_assignation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.text_field :user_id %>
  </div>

  <div>
    <%= form.label :calendar_id, style: "display: block" %>
    <%= form.text_field :calendar_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
