<div id="<%= dom_id invitation %>">
  <p>
    <strong>Sender:</strong>
    <%= invitation.sender_id %>
  </p>

  <p>
    <strong>Recipient:</strong>
    <%= invitation.recipient_id %>
  </p>

  <p>
    <strong>Calendar:</strong>
    <%= invitation.calendar_id %>
  </p>

  <p>
    <strong>Token:</strong>
    <%= invitation.token %>
  </p>

</div>
