<div id="calendar">
  <h1>
    <%= calendar.name %>
  </h1>

  <%= month_calendar(events: calendar.slots) do |date, slots| %>
    <%= date.day %>

    <% slots.each do |slot| %>
      <% if Current.user %>
        <div>
          <%= link_to l(slot.start_time.in_time_zone(Time.zone), format: :time), calendar_slot_path(calendar, slot) %>
        </div>
      <% else %>
        <div>
          <%= l(slot.start_time.in_time_zone(Time.zone), format: :time) %>
        </div>
      <% end %>
      <% if @editor && @assignations[slot.id].present? %>
        <div>
          <%= User.find(@assignations[slot.id]).name %>
        </div>
      <% end %>
    <% end %>
  <% end %>

  <% if @editor %>
    <div>
      <%= button_to t(:add_slot), new_calendar_slot_path(calendar), method: :get %>
    </div>

    <div>
      <%= form_with(model: calendar) do |form| %>
        <span>
          <%= form.text_field :new_editors_email_list, value: 'List of emails' %>
        </span>
        <span>
          <%= form.submit 'Add editor' %>
        </span>
      <% end %>
    </div>

  <% end %>

  <% if calendar.description %>
    <p>
      <%= calendar.description %>
    </p>
  <% end %>

</div>
