<div id="<%= dom_id calendar %>">
  <p>
    <strong><%= calendar.name %></strong>
  </p>

  <%= month_calendar(events: calendar.slots) do |date, slots| %>
    <%= date.day %>

    <% slots.each do |slot| %>
      <div>
        <%= link_to l(slot.start_time, format: :time), calendar_slot_path(calendar, slot) %>
      </div>
    <% end %>
  <% end %>

  <div>
    <%= link_to 'Add a slot', new_calendar_slot_path(calendar) %>
  </div>

  <% if calendar.description %>
    <p>
      <%= calendar.description %>
    </p>
  <% end %>

</div>
