<div id="<%= dom_id calendar %>">
  <p>
    <strong><%= calendar.name %></strong>
  </p>

  <%= month_calendar(events: @calendar.slots) do |date, slots| %>
    <%= date %>

    <% slots.each do |slot| %>
      <div>
        <%= link_to slot.name, slot_path(slot) %>
      </div>
    <% end %>
  <% end %>

  <p>
    <%= calendar.description %>
  </p>

</div>
