<div id="<%= dom_id calendar %>">
  <p>
    <strong><%= calendar.name %></strong>
  </p>

  <%= month_calendar(events: calendar.slots) do |date, slots| %>
    <%= date.day %>

    <% slots.each do |slot| %>
      <div>
        <%= l slot.start_time, format: :time %>
      </div>
      <div>
        <%= link_to slot.name, calendar_slot_path(calendar, slot) %>
      </div>
    <% end %>
  <% end %>

  <div>
    <%= link_to 'Add a slot', new_calendar_slot_path(calendar) %>
  </div>

  <p>
    <%= calendar.description %>
  </p>

</div>
