<%= form_with(model: calendar) do |form| %>
  <% if calendar.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(calendar.errors.count, "error") %> prohibited this calendar from being saved:</h2>

      <ul>
        <% calendar.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :public, style: "display: block" %>
    <%= form.check_box :public %>
  </div>

  <div>
    <%= form.label :advance_warning, style: "display: block" %>
    <%= form.number_field :advance_warning %>
  </div>

  <div>
    <%= form.label :new_editors_email_list, style: "display: block" %>
    <%= form.text_field :new_editors_email_list %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<% if calendar.editors.count > 1 %>
  <h2>
    <%= t(:additional_editors) %>
  </h2>
  <% calendar.editors.each do | editor | %>
    <% next if editor == Current.user %>
    <div>
      <%= editor.name %>
      <%= button_to 'Remove', calendar_calendar_assignation_path(
        calendar,
        CalendarAssignation.where(calendar: calendar, user: editor).first
      ), method: :delete %>
    </div>
  <% end %>
<% end %>
