<!DOCTYPE html>
<html>
  <head>
    <title><%= t(:app_name) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav>
        <%= link_to t(:home), root_path unless action_name == "home" %>
        <%= link_to t(:calendars), calendars_path unless controller_name == "calendars" && action_name == "index" %>
        <% if Current.user %>
          <%= link_to t(:log_out), user_signout_path, method: :delete %>
        <% else %>
          <%= link_to t(:sign_up), new_users_path  %>
          <%= link_to t(:log_in), new_user_session_path  %>
        <% end %>
        <% if I18n.locale == :en %>
          <%= link_to 'DE', { locale: :de }  %>
        <% else %>
          <%= link_to 'EN', { locale: :en }  %>
        <%end%>
      </nav>
      <h1><%= page_title %></h1>
      <p><%= page_subtitle %></p>
    </header>
    <main>
        <% if notice %>
        <blockquote>
          <%= notice %>
        </blockquote>
      <% end %>
      <% if alert %>
        <mark>
          <%= alert %>
        </mark>
      <% end %>
      <%= yield %>
    </main>
    <% if Current.user %>
      <footer>
        <%= form_with(model: Current.user, url: users_path) do |form| %>
          <%= form.time_zone_select :timezone %>
          <%= form.submit t(:save) %>
        <% end %>
      </footer>
    <% end %>
  </body>
</html>
